name: Android CI

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Add weather api key
      run: sed -i 's/@string/google_maps_key/${{secrets.WEATHER_API_TOKEN}}/' ./app/src/main/AndroidManifest.xml && cat ./app/src/main/AndroidManifest.xml
    
    
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
         ./app/build/outputs/apk/debug/app-debug.apk
